<nav class="navbar navbar-inverse" style="background-color:#333">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" style="padding-top: 0px;">
        <img [attr.src]="server+world.logo" class="img-rounded" width="48" height="48">
      </a>
      <a class="navbar-brand">
        <span [innerHTML]="world.name"> </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input #user type="text" class="form-control" [(ngModel)]="username" (change)="onUsernameChanged(user.value)" value="{{username}}" />
        </div>
      </form>
      <a class="navbar-brand">
        <span [innerHTML]="world.money | bigvalue"> </span>
      </a>
      <a class="navbar-brand" style="padding-top: 9px;">
        <img [attr.src]="server+devise" width="30" height="30" class="moneyLogo"> </a>
      <ul class="nav navbar-nav navbar-form navbar-right">
        <li>
          <button type="button" class="btn btn-danger" id="btnMultiplicateur" (click)="setMulti()">Buy X {{qtmulti}}</button>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="row menuL">
        <div class="buttonleft btn btn-danger btn-lg btn-block" data-toggle="modal" (click)="unlocksModal.show()">
          <span class="badge">{{badgeUnlock}}</span> Unlocks </div>
      </div>
      <div class="row menuL">
        <div class="buttonleft btn btn-danger btn-lg btn-block" data-toggle="modal" (click)="cashUpgradesModal.show()">
          <span class="badge">{{badgeUnlock}}</span> Cash Upgrades </div>
      </div>
      <div class="row menuL">
        <div class="buttonleft btn btn-danger btn-lg btn-block" data-toggle="modal" (click)="angelUpgradesModal.show()"> Angel Upgrades </div>
      </div>
      <div class="row menuL">
        <div class="buttonleft btn btn-danger btn-lg btn-block" data-toggle="modal" (click)="managersModal.show()">
          <span class="badge">{{badgeManager}}</span> Managers </div>
      </div>
      <div class="row menuL">
        <div class="buttonleft btn btn-danger btn-lg btn-block" data-toggle="modal" (click)="investorsModal.show()"> Investors </div>
      </div>
      <toaster-container></toaster-container>
    </div>
    <div class="col-md-10">
      <div class="row rowI">
        <div class="col-md-12">
          <app-product [prod]="world.products.product[0]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[3]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
        </div>
      </div>
      <div class="row rowI">
        <div class="col-md-12">
          <app-product [prod]="world.products.product[1]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[4]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
        </div>
      </div>
      <div class="row rowI">
        <div class="col-md-12">
          <app-product [prod]="world.products.product[2]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
          <app-product [prod]="world.products.product[5]" class="product col-md-6" [pmoney]="world.money" [qtmulti]="qtmulti" (notifyProduction)="onProductionDone($event)"
            (notifyAchat)="onBuy($event)"></app-product>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #unlocksModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Unlocks</h4>
    <small>Nobody exists on purpose. Nobody belongs anywhere. Everybody’s gonna die. Come watch TV?</small>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let product of world.products.product">
      <div *ngFor="let pallier of product.palliers.pallier">
        <div class="card border-success">
          <div class="row">
            <div class="col-md-3">
              <img class="card-img-top img-responsive img-rounded" [attr.src]="server+pallier.logo">
            </div>
            <div class="col-md-9">
              <div class="row mt-1">
                <div class="col-md-12">
                  <h5 class="text-center text-success">{{pallier.name}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center text-secondary">
                    <span>{{product.name}} {{pallier.typeratio}} X {{pallier.ratio}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-center text-warning">
                    <span [innerHTML]="pallier.seuil"></span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div *ngFor="let pallier of world.allunlocks.pallier">
      <div *ngIf="pallier.unlocked == false && pallier.idcible == 0" class="card border-success">
        <div class="row">
          <div class="col-md-3">
            <img class="card-img-top img-responsive img-rounded" [attr.src]="server+pallier.logo">
          </div>
          <div class="col-md-9">
            <div class="row mt-1">
              <div class="col-md-12">
                <h5 class="text-center text-success">{{pallier.name}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-center text-secondary">
                  <span *ngIf="pallier.idcible == 0">ALL {{pallier.typeratio}} X {{pallier.ratio}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-center text-warning">
                  Get each product
                  <span [innerHTML]="pallier.seuil"></span> qte
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" (click)="unlocksModal.hide()">Close</button>
  </div>
</app-modal>

<app-modal #cashUpgradesModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Cash Upgrades</h4>
    <small>Nobody exists on purpose. Nobody belongs anywhere. Everybody’s gonna die. Come watch TV?</small>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="upgrade.unlocked == false" class="card border-success">
        <div class="row">
          <div class="col-md-3">
            <img class="card-img-top img-responsive img-rounded" [attr.src]="server+upgrade.logo">
          </div>
          <div class="col-md-6">
            <div class="row mt-1">
              <div class="col-md-12">
                <b class="text-center text-success">{{upgrade.name}}</b>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="text-secondary">
                  <span>{{world.products.product[upgrade.idcible-1].name}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-warning">
                  <span [innerHTML]="upgrade.seuil | bigvalue"></span> Schmeckles</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 pr-4">
            <button type="button" class="btn btn-block btn-success" [disabled]="world.money < upgrade.seuil" (click)="buyUpgrade(upgrade)">Buy !</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" (click)="cashUpgradesModal.hide()">Close</button>
  </div>
</app-modal>

<app-modal #angelUpgradesModal>
  <div class="app-modal-header">
    <button type="button" class="close" aria-label="Close" (click)="angelsModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Angels Upgrades</h4>
    <small>Wubba Lubba dub-dub -- I am in great pain, please help me !</small>
  </div>
  <div class="app-modal-body">
    
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger btn-block" (click)="angelUpgradesModal.hide()">Close</button>
  </div>
</app-modal>

<app-modal #managersModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Managers</h4>
    <small>Well hello there ! What can I do for you ?</small>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="manager.unlocked == false">
        <div class="row">
          <div class="col-md-3">
            <img class="card-img-top img-responsive img-rounded" [attr.src]="server+manager.logo">
          </div>
          <div class="col-md-6">
            <div class="row">{{manager.name}}</div>
            <div class="row">{{manager.seuil}} Schmeckles</div>
            <div class="row">Run {{world.products.product[manager.idcible-1].name}}</div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <button type="button" class="btn btn-success btn-block" [disabled]="world.money < manager.seuil" (click)="hireManager(manager)">Hire !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" (click)="managersModal.hide()">Close</button>
  </div>
</app-modal>

<app-modal #investorsModal>
    <div class="app-modal-header">
      <h4 class="modal-title">Investors</h4>
      <small>In bird culture, this is considered a dick move</small>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card border-success">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="text-center text-success">Total Angels</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-warning text-center" [innerHTML]="world.totalangels | bigvalue"> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row  my-3">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <div class="card border-success">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-warning text-center">
                      <span [innerHTML]="world.angelbonus"></span>%</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-center text-success">Bonus Per Angel</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div class="card border-success">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <b class="text-warning " [innerHTML]="world.totalangels | bigvalue"> </b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-center text-success">Claimed With Restart</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <button class="btn btn-block btn-success" (click)="resetWorld()">Claim Angel Investors</button>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-danger" (click)="investorsModal.hide()">Close</button>
    </div>
  </app-modal>