/* You can add global styles to this file, and also import other style files */
/**{border: 1px solid red;}*/

body {
    background-image: url("http://localhost:8080/RMCapitalistS/img/background.jpg");
    background-size: cover;
}

h1, h3{
    color : white;
}

.menuL{
    margin-bottom: 15px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.vertical-center {
    /*min-height: 180px;  /* Fallback for browsers do NOT support vh unit */
    min-height: 180px;; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }