<div class='row' style="background-color:#333; margin-right:1px">
  <div class="col-md-3">
    <img class="card-img-top img-responsive img-rounded" [attr.src]="path+product.logo" (click)="produir()">
    <div class="bottom-align-text text-center text-success">Quantité : {{product.quantite}}</div>
  </div>
  <div class="col-md-9">
    <h1>{{product.name}}</h1>
    <div class="progress" #bar>
    </div>
    <h3>
      <span [innerHTML]="product.revenu| bigvalue"> </span> Schmeckle
    </h3>
    <div class="clear"></div>
    <div class="row">
      <div class="col-md-8">
        <button type="button" class="btn btn-success btn-block" [disabled]="this.money < this._cout" (click)="acheter()">
          <div class="row">
            <div class="col-md-5">
              Buy X{{_qtmulti}}
            </div>
            <div class="col-md-5">
              {{_cout| bigvalue}} Schmeckle
            </div>
          </div>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-warning btn-block" [disabled]="this.money < this._cout && this.product.quantite == 0">{{product.timeleft| totime}}</button>
      </div>
    </div>
  </div>
</div>